/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos unificados para ambas as telas */
.container, .login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    justify-content: center;
}

.form-container, .login-box {
    text-align: center;
    justify-content: center;
}

/* Estilo para o título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo unificado para o logo */
.logo {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.logo {
    width: 90px;
    height: auto;
    justify-content: center;
}

/* Estilos dos inputs */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #b30000;
}

/* Ícone de mostrar senha */
.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password img {
    width: 20px;
    height: 38px;
}

/* Botão de ação */
.btn, .login-btn {
    width: 100%;
    background-color: #b30000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover, .login-btn:hover {
    background-color: #990000;
}

/* Link para alternar entre cadastro e login */
.login-link, .register-link {
    margin-top: 20px;
}

.login-link a, .register-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover, .register-link a:hover {
    text-decoration: underline;
}

.logo-login img{
    width: 90px;
    height: auto;
    justify-content: center;
    margin-bottom: 10px;
}

.btn:hover{
    color: red;
    background-color: black;
    transition: 1s;
}

.login-btn:hover{
    color: red;
    background-color: black;
    transition: 1s;
}